body {
    align-items: auto;
    background-image: url(Stars.jpg);
    background-size: cover;
    background-color:none;
  }
  .text {
    color:white;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin: -30px;
  }
  .container {
    font-size: 40px;
    background: none;
    color: white;
    text-align: center;
    font-family: arial;
    margin-top: 150px;
  }
nav {
    border: 1px solid rgb(68, 67, 67);
    height: 30px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    word-spacing: 50px;
    background-color: rgb(68, 67, 67);
    width: 100%;
    position: absolute;
    top: 0%;
}   
